/*Adaptar pantalla*/
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

form {
    background-color: rgb(174, 236, 239);
    font-family: /*'Lucida Sans Typewriter' Courier New'*/ 'Imprint MT Shadow' /*Bahnschrift*/;
    font-size: 17px;
    height: 100%; /* Asegura que el formulario ocupe toda la altura del viewport */
    display: flex; /* Permite que los elementos dentro del formulario se distribuyan verticalmente */
}

/*NAVBAR*/
.button-container {
    display: flex;
    background-color: rgb(27, 133, 219);
    width: 250px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(27, 133, 219, 0.5) 5px 10px 15px;
    background-color: transparent;
}

.button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

    .button:hover {
        transform: translateY(-3px);
    }

.icon {
    font-size: 20px;
}

/*PATRONES*/
.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient( 45deg, #3498db, #2ecc71 ); /* Gradient background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
     /*border-radius: 10px; Rounded corners */
    position: relative;
    overflow: hidden;
}

.container::before {
        content: "";
        position: absolute;
        background-image: linear-gradient( 90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px ), linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
        background-size: 20px 20px;
        pointer-events: none; /* Allow clicking through the pattern layer */
}
