.chat-tab {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 10px;
}

.chat-messages {
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 10px;
    display: block;
    width: 70vw;
    max-width: 70vw;
    box-sizing: border-box;
}


.chat-messages1 {
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 10px;
    display: block;
    width: 70vw;
    left: auto;
    box-sizing: border-box;
    position: absolute; /* Posiciona el div de manera absoluta */
    right: 0;
}

.chat-messages2 {
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 10px;
    display: block;
    width: 70vw;
    box-sizing: border-box;
    margin-top: 205px;
}

.text-container {
    padding: 10px 20px;
}

.User-Writing {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.input-container {
    position: relative;
    display: inline-block;
}

.Write-input {
    width: 96vw;
    height: 4vh;
    border: 2px solid black;
}

#btnEnviar {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 4.6vh;
    width: 7vh;
    border: 2px solid black;
    background-color: white;
    background-image: url('../../Images/enviar.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

